@{
    ViewData["Title"] = "Landing Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="~/css/normalize.css" />

@section Stylesheet {
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
}



<body>
    <header>
        <div class="header-container">
            <div class="banner">
                <div class="left-header">               
                    <h1>Guaranteed return of 3.5% p.a. upon maturity in 2 years</h1>
                    <br><br>
                    <button class="button-28" role="button"> Find Out More</button>
                    <p>
                        <small>
                            T&Cs apply. Protected up to specified limits by SDIC.<br>
                            This advertisement has not been reviewed by the Monetary Authority of Singapore.
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </header>

    <section class="reward">
        <div class="reward-container d-flex justify-content-end">
            <div class="reward-banner w-50">
                <div class="right-reward">
                    <h1>Join in the festive cheer with OCBC Cards</h1>
                    <p>Enjoy up to 50% off on shopping, dining and travel deals and a S$1,000 weekly cashback when you spend with OCBC cards this holiday season.</p>
                    <br><br>
                    <button class="button-28" role="button"> Find Out More</button>
                    <p>
                        Valid till 31 December 2023. T&Cs apply.
                    </p>
                </div>
            </div>            
        </div>
    </section>

    <section class="Tax">
        <div class="Tax-container">
            <div class="Tax Banner">
                <div class="left-Tax">
                    <h1>Hassle-free tax refunds with Global Blue and OCBC Cards</h1>
                    <br><br>
                    <div class="Enjoy">
                        <h3>Enjoy a faster Tax Free shopping experience overseas.</h3>
                    </div>  
                    <button class="button-28" role="button"> Find Out More</button>
                    <p>
                        <small>
                            Global Blue Tax Free Shopping is a third-party service provided by Global Blue ("Global Blue"). Global Blue Tax Free Shopping is subject to Global Blue’s Terms & Conditions. OCBC Bank disclaims all responsibilities/liabilities arising from or in connection with the use of the Global Blue Tax Free Shopping.
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>
