<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-storage.js"></script>
<script defer src="~/js/face-api.min.js"></script>
<script defer src="~/js/tests2.js"></script>
@{
    Layout = null;
}
<style>
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    canvas {
        position: absolute;
    }
</style>

<video id="video" width="720" height="560" autoplay muted></video>
<div class="imageUpload">
    <input type="file" class="inp" onchange="getImageData(event)" />
    <button onclick="selectImage()" class="selectImage">Select Images</button>
    <span class="filedata"></span>
    <div class="progressBar">
        <div class="progress"></div>
    </div>
    <button onclick="uploadImage()" class="upload">Upload</button>
    <span class="loading">Loading...</span>
    <img class="img" />
</div>
<script>

</script>

