@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // add chathistory code here
}

<!--Chatbot section-->
<div class="chatbotSection">
    <div class="card">
        <h5 class="card-header">Chatbot</h5>
        <div class="card-body">
            <div class="messageSection">
                <div class="message mb-4">
                    <img src="https://cdn-icons-png.flaticon.com/512/11306/11306080.png" id="profileImg" />
                    <p class="msg">Hello!</p>
                </div>
            </div>
            <div class="form-inline d-flex">
                <div class="form-group">
                    <textarea class="form-control" id="textData" rows="3" placeholder="Enter message..."></textarea>
                </div>
                <div class="chatbotBtn d-flex flex-column ms-2">
                    <button class="btn btn-success mb-2" id="microphoneBtn">
                        <i class="fa-solid fa-microphone"></i>
                    </button>
                    <button class="btn btn-primary mb-2" id="sendMsgBtn">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Chatbot button-->
<div class="chatbot">
    <img src="https://cdn-icons-png.flaticon.com/512/11306/11306080.png" id="chatbotImg" />
</div>