@{
	Layout = null;
}
<script defer src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script defer src="~/js/face-api.min.js"></script>
<script defer src="~/js/user.js"></script>

@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
	// this part needed?
}
<p>• Security advisory: Beware of fake OCBC SMSes. Authentic OCBC SMSes never contain links and always originate from OCBC and OCBC Bank. Learn more.</p>
<form asp-controller="User" asp-action="authenticate" method="post">
	<!--Add lock icon here--><p>Secure Site</p>
	<h3>Online Banking</h3>
	<input type="text" id="LoginID" name="LoginID" placeholder="Access code" required>

	<input type="Password" id="Password" name="Password" placeholder="PIN" required>

	<input type="submit" value="Login">
	<p><a asp-controller="User" asp-action="ForgotLoginDetails">No Access Code/Pin? Click here.</a></p>
	<button type="button" id="face_recognition_button">Login with Face ID</button> <!--Add a face id icon here-->
</form>
<p>Don't have Online Banking?<a asp-controller="User" asp-action="SignUp"> Sign up now.</a></p>
<div>
	<p id="video-validation"></p>
	<video id="video" width="720" height="560" autoplay muted></video>
</div>
@Html.Partial("_Chatbot"); 
<!--Help me add the css and html files for the chatbot-->

